@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --azul-escuro: #0D192C;
    --azul-escuro-secundario: #15263F;
    --azul-escuro-borda: #2E405A;
    --branco: #ffffff;
    --azul-claro: #8BACD9;
    --ciano: #00FFF8;
}

body{
    font-family: 'Outfit', sans-serif;
    background: var(--azul-escuro);
}

.container{
    margin: 4em 1em;
    position: relative;
    background: var(--azul-escuro-secundario);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;
    padding-inline: 1.5em;
}

.nft-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto{
    padding-block: 1.5em;
}

.nft-info__titulo{
    font-weight: 600;
    color: var(--branco);
    font-size: 1.5em;
}

.nft-info__texto{
    color: var(--azul-claro);
    font-size: 1.2em;
    padding: .7em 3em 1em 0;
}

.container-info{
    display: flex;
    gap: 7.5em;
    padding-bottom: 2em;
}

.preco{
    color: var(--ciano);
    font-weight: 600;
    font-size: 1.2em;
    line-height: 19px;
}

.preco::before{
    content: url('../imagens/forma.svg');
    padding-right: .4em;
}

.time{
    color: var(--azul-claro);
}

.time::before{
    content: url('../imagens/Clock.svg');
    padding-right: .4em;
}

.creator-info{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
    border-top: 1px solid var(--azul-escuro-borda);
}

.creator-info h3{
    color: var(--azul-claro)
}

.name-creator{
    color: var(--branco);
}

@media screen and (min-width: 1200px){
    .container{
        margin: 10em 30em;
    }
}

@media screen and (min-width: 1400px){
    .container{
        margin: 3em 35em;
    }
}

@media screen and (min-width: 1440px) and (min-height: 900px){
    .container{
        margin: 10em 35em;
    }
}

